{% import '_includes/forms' as forms %}

<div class="bulkedit field-edit-modal">
    <form id="bulk-edit-values-modal">
        {% if fieldHtml %}
            {% namespace namespace ?? null %}
                <div class="pane">
                    {{ fieldHtml|raw }}
                </div>
            {% endnamespace %}
            <div class="field-edit-modal-bar">
                <div class="buttons right">
                    <div class="btn" id="field-edit-cancel">{{ "cancel"|t('venveo-bulk-edit') }}</div>
                    <input type="button" value="{{ 'save-elements'|t('venveo-bulk-edit', params = {totalElements: totalElements}) }}" class="btn submit"></div>
            </div>
        {% else %}
            <p>{{ "edit-fields-warning"|t('venveo-bulk-edit') }}</p>
            <div class="field-edit-modal-bar">
                <div class="buttons right">
                    <div class="btn" id="field-edit-cancel">{{ "cancel"|t('venveo-bulk-edit') }}</div>
                </div>
            </div>
        {% endif %}
    </form>
</div>
