{% import '_includes/forms' as forms %}

<div class="bulkedit field-edit-modal">
    <h2>{{ "select-fields"|t('venveo-bulk-edit') }}</h2>
    <p>
        {{ "fields-desc"|t('venveo-bulk-edit', params = {
            site: site.name,
            language: site.language,
            total: selectedTotal
        }) }}
    </p>
    {% if fieldWrappers|length %}

    <div style="margin-bottom: 10px;">
        {{ forms.checkbox({
            id: 'bulk-edit-select-all',
            checked: selectAllChecked,
            label: 'chk-select-all-elements'|t('venveo-bulk-edit', params = {total: selectAllTotal}),
            name: 'selectAll',
        }) }}
    </div>
    <form action="" method="post" accept-charset="UTF-8" id="select-fields-form">
    {% if fieldWrappers|length %}
            <table class="data fullwidth" id="fields-table">
                <thead>
                <th scope="col" class="col-header">
        <span class="heading-text">
            {{ 'col-field-name'|t('venveo-bulk-edit') }}
        </span>
                </th>
                <th scope="col" class="col-header">
        <span class="heading-text">
            {{ 'col-field-handle'|t('venveo-bulk-edit') }}
        </span>
                </th>
                <th scope="col" class="col-header">
        <span class="heading-text">
            {{ 'col-edit'|t('venveo-bulk-edit') }}
        </span>
                </th>
                <th scope="col" class="col-header">
        <span class="heading-text">
            {{ 'col-strategy'|t('venveo-bulk-edit') }}
        </span>
                </th>
                </thead>
                {# fieldWrapper  #}
                {% for fieldWrapper in fieldWrappers %}
                    {% set field = fieldWrapper.field %}
                    {% set fieldUnsupported = false %}
                    {% if not bulkedit.isFieldSupported(field) %}
                        {% set fieldUnsupported = true %}
                    {% endif %}
                    {{ hiddenInput('fields['~field.id~'][type]', 'CustomField') }}
                    <tr>
                        <td>
            <span>
                {{ field.name | t('site') }} {% if field.instructions %}<span
                        class="info">{{ field.instructions | t('site') | e | md }}</span>{% endif %}
            </span>
                        </td>
                        <td><span>{{ field.handle }}</span></td>
                        <td>
            <span>
                {{ forms.lightswitchField({
                    id: 'fieldEnabled-'~field.handle,
                    name: 'fields['~field.id~'][enabled]',
                    on: false,
                    disabled: fieldUnsupported,
                    value: true,
                }) }}
            </span>
                        </td>
                        <td>
                              <span>
            {{ forms.selectField({
                id: 'fieldStrategy-'~field.handle,
                name: 'fields['~field.id~'][strategy]',
                disabled: fieldUnsupported,
                options: bulkedit.getSupportedStrategiesForField(field),
                default: 'replace',
            }) }}
            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% else %}
            <p>{{ 'assoc-fields-warning'|t('venveo-bulk-edit') }}</p>
        {% endif %}
        <div class="field-edit-modal-bar">
            <div class="buttons right">
                <div class="btn" id="field-edit-cancel">{{ "cancel"|t('venveo-bulk-edit') }}</div>
                <input type="submit" value="{{ "continue"|t('venveo-bulk-edit') }}" disabled
                       class="btn submit disabled"></div>
        </div>
    </form>
</div>
